* {
  margin: 5px;
}
body {
  background: rgb(223, 219, 219);
}

.wrapper {
  width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-logo {
  margin: 5px 60px;
  text-align: left;
}

.header-title {
  margin: 75px 5px;
  text-align: left;
  text-transform: uppercase;
}

.avatar {
  width: 250px;
  height: 250px;
}

.ul {
  padding: 5px 15px;
  font-weight: 200;
}

.footer {
  margin: 0px;
  display: flex;
  flex-direction: row;
  background-color: #969595;
  color: whitesmoke;
  justify-content: center;
}

.footer-mail {
  margin: 5px 700px 5px 5px;
}

.footer-mail a {
  text-decoration: none;
  color: whitesmoke;
}
